@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-Italic.eot'
    src: local('CeraPro/Cera Pro Italic'), local('CeraPro/CeraPro-Italic'), 'CeraPro/CeraPro-Italic.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-Italic.woff' format('woff'),'CeraPro/CeraPro-Italic.ttf' format('truetype')
    font-weight: normal
    font-style: italic

@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-BlackItalic.eot'
    src: local('CeraPro/Cera Pro BlackItalic'), local('CeraPro/CeraPro-BlackItalic'), 'CeraPro/CeraPro-BlackItalic.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-BlackItalic.woff' format('woff'),'CeraPro/CeraPro-BlackItalic.ttf' format('truetype')
    font-weight: 900
    font-style: italic


@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-Regular.eot'
    src: local('CeraPro/Cera Pro Regular'), local('CeraPro/CeraPro-Regular'), 'CeraPro/CeraPro-Regular.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-Regular.woff' format('woff'),'CeraPro/CeraPro-Regular.ttf' format('truetype')
    font-weight: normal
    font-style: normal


@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-Light.eot'
    src: local('CeraPro/Cera Pro Light'), local('CeraPro/CeraPro-Light'), 'CeraPro/CeraPro-Light.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-Light.woff' format('woff'),'CeraPro/CeraPro-Light.ttf' format('truetype')
    font-weight: 300
    font-style: normal

@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-BoldItalic.eot'
    src: local('CeraPro/Cera Pro BoldItalic'), local('CeraPro/CeraPro-BoldItalic'), 'CeraPro/CeraPro-BoldItalic.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-BoldItalic.woff' format('woff'),'CeraPro/CeraPro-BoldItalic.ttf' format('truetype')
    font-weight: bold
    font-style: italic


@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-Black.eot'
    src: local('CeraPro/Cera Pro Black'), local('CeraPro/CeraPro-Black'), 'CeraPro/CeraPro-Black.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-Black.woff' format('woff'),'CeraPro/CeraPro-Black.ttf' format('truetype')
    font-weight: 900
    font-style: normal



@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-Medium.eot'
    src: local('CeraPro/Cera Pro Medium'), local('CeraPro/CeraPro-Medium'), 'CeraPro/CeraPro-Medium.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-Medium.woff' format('woff'),'CeraPro/CeraPro-Medium.ttf' format('truetype')
    font-weight: 500
    font-style: normal


@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-Bold.eot'
    src: local('CeraPro/Cera Pro Bold'), local('CeraPro/CeraPro-Bold'), 'CeraPro/CeraPro-Bold.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-Bold.woff' format('woff'),'CeraPro/CeraPro-Bold.ttf' format('truetype')
    font-weight: bold
    font-style: normal


@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-Thin.eot'
    src: local('CeraPro/Cera Pro Thin'), local('CeraPro/CeraPro-Thin'), 'CeraPro/CeraPro-Thin.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-Thin.woff' format('woff'),'CeraPro/CeraPro-Thin.ttf' format('truetype')
    font-weight: 100
    font-style: normal
    

@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-MediumItalic.eot'
    src: local('CeraPro/Cera Pro MediumItalic'), local('CeraPro/CeraPro-MediumItalic'), 'CeraPro/CeraPro-MediumItalic.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-MediumItalic.woff' format('woff'),'CeraPro/CeraPro-MediumItalic.ttf' format('truetype')
    font-weight: 500
    font-style: italic

@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-LightItalic.eot'
    src: local('CeraPro/Cera Pro LightItalic'), local('CeraPro/CeraPro-LightItalic'), 'CeraPro/CeraPro-LightItalic.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-LightItalic.woff' format('woff'),'CeraPro/CeraPro-LightItalic.ttf' format('truetype')
    font-weight: 300
    font-style: italic


@font-face 
    font-family: 'Cera Pro'
    src: 'CeraPro/CeraPro-ThinItalic.eot'
    src: local('CeraPro/Cera Pro ThinItalic'), local('CeraPro/CeraPro-ThinItalic'), 'CeraPro/CeraPro-ThinItalic.eot?#iefix' format('embedded-opentype'), 'CeraPro/CeraPro-ThinItalic.woff' format('woff'),'CeraPro/CeraPro-ThinItalic.ttf' format('truetype')
    font-weight: 100
    font-style: italic