@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-Italic.eot'
    src: local('@/assets/CeraPro/Cera Pro Italic'), local('@/assets/CeraPro/CeraPro-Italic'), '@/assets/CeraPro/CeraPro-Italic.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-Italic.woff' format('woff'),'@/assets/CeraPro/CeraPro-Italic.ttf' format('truetype')
    font-weight: normal
    font-style: italic

@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-BlackItalic.eot'
    src: local('@/assets/CeraPro/Cera Pro BlackItalic'), local('@/assets/CeraPro/CeraPro-BlackItalic'), '@/assets/CeraPro/CeraPro-BlackItalic.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-BlackItalic.woff' format('woff'),'@/assets/CeraPro/CeraPro-BlackItalic.ttf' format('truetype')
    font-weight: 900
    font-style: italic


@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-Regular.eot'
    src: local('@/assets/CeraPro/Cera Pro Regular'), local('@/assets/CeraPro/CeraPro-Regular'), '@/assets/CeraPro/CeraPro-Regular.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-Regular.woff' format('woff'),'@/assets/CeraPro/CeraPro-Regular.ttf' format('truetype')
    font-weight: normal
    font-style: normal


@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-Light.eot'
    src: local('@/assets/CeraPro/Cera Pro Light'), local('@/assets/CeraPro/CeraPro-Light'), '@/assets/CeraPro/CeraPro-Light.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-Light.woff' format('woff'),'@/assets/CeraPro/CeraPro-Light.ttf' format('truetype')
    font-weight: 300
    font-style: normal

@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-BoldItalic.eot'
    src: local('@/assets/CeraPro/Cera Pro BoldItalic'), local('@/assets/CeraPro/CeraPro-BoldItalic'), '@/assets/CeraPro/CeraPro-BoldItalic.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-BoldItalic.woff' format('woff'),'@/assets/CeraPro/CeraPro-BoldItalic.ttf' format('truetype')
    font-weight: bold
    font-style: italic


@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-Black.eot'
    src: local('@/assets/CeraPro/Cera Pro Black'), local('@/assets/CeraPro/CeraPro-Black'), '@/assets/CeraPro/CeraPro-Black.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-Black.woff' format('woff'),'@/assets/CeraPro/CeraPro-Black.ttf' format('truetype')
    font-weight: 900
    font-style: normal



@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-Medium.eot'
    src: local('@/assets/CeraPro/Cera Pro Medium'), local('@/assets/CeraPro/CeraPro-Medium'), '@/assets/CeraPro/CeraPro-Medium.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-Medium.woff' format('woff'),'@/assets/CeraPro/CeraPro-Medium.ttf' format('truetype')
    font-weight: 500
    font-style: normal


@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-Bold.eot'
    src: local('@/assets/CeraPro/Cera Pro Bold'), local('@/assets/CeraPro/CeraPro-Bold'), '@/assets/CeraPro/CeraPro-Bold.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-Bold.woff' format('woff'),'@/assets/CeraPro/CeraPro-Bold.ttf' format('truetype')
    font-weight: bold
    font-style: normal


@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-Thin.eot'
    src: local('@/assets/CeraPro/Cera Pro Thin'), local('@/assets/CeraPro/CeraPro-Thin'), '@/assets/CeraPro/CeraPro-Thin.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-Thin.woff' format('woff'),'@/assets/CeraPro/CeraPro-Thin.ttf' format('truetype')
    font-weight: 100
    font-style: normal
    

@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-MediumItalic.eot'
    src: local('@/assets/CeraPro/Cera Pro MediumItalic'), local('@/assets/CeraPro/CeraPro-MediumItalic'), '@/assets/CeraPro/CeraPro-MediumItalic.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-MediumItalic.woff' format('woff'),'@/assets/CeraPro/CeraPro-MediumItalic.ttf' format('truetype')
    font-weight: 500
    font-style: italic

@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-LightItalic.eot'
    src: local('@/assets/CeraPro/Cera Pro LightItalic'), local('@/assets/CeraPro/CeraPro-LightItalic'), '@/assets/CeraPro/CeraPro-LightItalic.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-LightItalic.woff' format('woff'),'@/assets/CeraPro/CeraPro-LightItalic.ttf' format('truetype')
    font-weight: 300
    font-style: italic


@font-face 
    font-family: 'Cera Pro'
    src: '@/assets/CeraPro/CeraPro-ThinItalic.eot'
    src: local('@/assets/CeraPro/Cera Pro ThinItalic'), local('@/assets/CeraPro/CeraPro-ThinItalic'), '@/assets/CeraPro/CeraPro-ThinItalic.eot?#iefix' format('embedded-opentype'), '@/assets/CeraPro/CeraPro-ThinItalic.woff' format('woff'),'@/assets/CeraPro/CeraPro-ThinItalic.ttf' format('truetype')
    font-weight: 100
    font-style: italic